* {
  padding: 0;
  margin: 0;
}
article {
  max-width: 700px;
  margin: auto;
}

h1{
  color: lightseagreen;
  font-size: 40px;
  margin-bottom: 32px;
  text-align: center;
}

label {
  font-size: 20px;
}
label span{
  color: lightseagreen;
  font-weight: bold;
}

.input {
  display: block;
  margin-bottom: 40px;
  padding: 12px 32px;
  width: 150px;
  font-size: 18px;
  margin-top: 8px;
}


.button {
  font-size: 20px;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  background-color: lightseagreen;
  color: white;
}
.message{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
}
