* {
  padding: 0;
  margin: 0;
}
article {
  max-width: 700px;
  margin: auto;
}

h1 {
  color: lightseagreen;
  font-size: 40px;
  margin-bottom: 32px;
  text-align: center;
}

label {
  display: block;
  font-size: 20px;
  text-align: center;
}
label span {
  color: lightseagreen;
  font-weight: bold;
}

.input {
  display: block;
  margin-bottom: 40px;
  padding: 12px 32px;
  width: 150px;
  font-size: 18px;
  margin-top: 8px;
}

.button {
  font-size: 20px;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  background-color: lightseagreen;
  color: white;
}
.message {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 32px;
}

.box {
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 120px;
  background-color: lightseagreen;
  padding: 20px;
  width: 100%;
}

.footer p {
  font-size: 20px;
  text-align: center;
  padding: 12px;
  color: white;
}

.socials-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.socials p {
  margin-bottom: 20px;
}

.social-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.line {
  margin-bottom: 12px;
}
